section.about#about
  .flex.flex--center
    .col-50
    .col-50.flex.flex--center <!--.order-first-->
       .col-1
         .desc-wrap
           p.home-lead.outdented ... author, mom ...
             a(href="about").home-cta More About Me