<section class="about-wrap">
  
  <h2>About Me</h2>
  <img src="/assets/img/sridevi.jpg" height="100" width="100">
  <div class="article">
    <span>
      Sridevi Krishnan is a software professional and holds a Master of Computer Science and Business Administration.
    She started writing for children when she was pregnant with her now 9 year old twins. She is passionate about
    educating the young minds through the art of storytelling.
    She is happily married for 15 years and lives with family in the San Francisco bay area.
    </span>
    </div>
</section>